/* Task 1 - Hover Effects */
.hover-button{
    padding: 10px 20px;
    border:none;
    background-color: #3498db;
    color:white;
    cursor:pointer;
    transition: all 0.3s ease;
}
/* changes on hover */
.hover-button:hover {
    background-color: #09ea2f;
    transform: scale(1.1);
}
/* Task 2 - Focus States */
.focus-input {
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 200px;
}
.focus-input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}
/* Task 3-1 First Child */
.first-child-list li:first-child {
    font-weight: bold;
    color:red;
}
/* Task 3-2 Last Child */
.first-child-list li:last-child {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(11, 173, 232);
}

/* Task 4 - Alternating Styles */
.striped-list li {
    padding: 10px;
    margin: 5px 0;
}
/* Odd Items */
.striped-list li:nth-child(odd){
    background-color: #f2f2f2;
}
/* Even Items */
.striped-list li:nth-child(even){
    background-color: rgb(240, 237, 134);
}
/* Task 5 - First of type */
.mixed-content p:first-of-type {
    font-size: 1.8em;
    color:blueviolet;
}
/* Task 6 - Not selector */
button {
    padding: 8px 16px;
    margin: 5px;
    border:none;
    cursor:pointer;
}
button.primary {
    background: #3498db;
}
/* Non-primary buttons */
button:not(.primary){
    background-color: #95a5a6;
}
/* Task 7 - Attribute Selector */
input[type="email"]:not(.focus-input) {
    border: 2px solid #e74c3c;
}

/* Task 8 - nth-child(n+2) */
.numbered-list li {
    padding: 10px;
}

/* Add top border to all items except the first*/
.numbered-list li:nth-child(n+2){
    border-top: 1px solid #ddd;
}