.safe-example1 {
    font-family: Arial, Helvetica, sans-serif;
}
.safe-example2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.eater-regular {
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
  }
  